body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: #f0582a;
}
a:hover {
  color: #ff8000;
}
button {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#brand {
  text-align: center;
}

nav ul {
  width: -webkit-fill-available;
  list-style-type: none;
  padding: 40px;
  overflow: hidden;
}

nav li {
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  width: 100%;
  background-image: linear-gradient(to bottom right, #ffe5d9, #e457a4);
}

nav button {
  margin-top: 13px;
}
#home {
  color: #9d8189;
}
.jumbotron {
  text-align: center;
  background-color: #ffe5d9;
}
#main {
  width: 60%;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.img-thumbnail {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 5px;
  border-color: #9d8189;
}
#bnwpics img {
  width: 300px;
  height: 450px;
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 20px #888888;
}
#bnwpics {
  text-align: center;
}
.Fall-collection {
  position: relative;
  margin-bottom: 200px;
}

/* products */

/* D8E2DC  light green*/
/* ffe5d9 beige */
/* ffcad4  light pink*/
/* f4acb7  pink*/
/* 9d8189  brown*/
/* https://coolors.co/d8e2dc-ffe5d9-ffcad4-f4acb7-9d8189 */
