body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body {
  margin: 15px;
}

h1,
h2,
h3 {
  color: #f0582a;
}
.nav-ul {
  width: -webkit-fill-available;
  margin: 0px;
}

button {
  margin: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#foot {
  position: relative;
  display: -webkit-box;
  margin: 10px;
  width: 100%;
}
#foot div {
  margin: 0 auto;
  margin-top: 20px;
}
#brand {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 40px;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #ffe5d9, #e457a4);
}

nav li {
  margin: 0 auto;
  text-align: center;
  display: inline-flex;
}

nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #9d8189;
}

nav button {
  margin-top: 13px;
}
#home {
  color: #9d8189;
}
.jumbotron {
  text-align: center;
  background-color: #ffe5d9;
}
#main {
  width: 60%;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.img-thumbnail {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 5px;
  border-color: #9d8189;
}
.footer {
  min-height: 80px;
  background: #f4acb7;
  position: sticky;
  width: 100%;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer span {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #f4acb7;
}
/* D8E2DC  light green*/
/* ffe5d9 beige */
/* ffcad4  light pink*/
/* f4acb7  pink*/
/* 9d8189  brown*/
/* https://coolors.co/d8e2dc-ffe5d9-ffcad4-f4acb7-9d8189 */
